<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div>
        <%= "created_at: #{@user.created_at.strftime('%Y-%m-%d %H:%M:%S')}" %>
      </div>
      <div>
        <%= "updated_at: #{@user.updated_at.strftime('%Y-%m-%d %H:%M:%S')}" %>
      </div>
      <div>
        <%= "now: #{Time.now.strftime('%Y-%m-%d %H:%M:%S')}" %>
      </div>
    </section>
  </aside>
</div>